@import "tailwindcss";
@plugin "daisyui";

/* globals.css */

body {
  @apply text-white;

  background-color: #0f0f0f;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    radial-gradient(circle at top left, rgba(118, 0, 255, 0.3), transparent 40%),
    radial-gradient(
      circle at bottom right,
      rgba(0, 204, 255, 0.2),
      transparent 40%
    );

  background-size: 40px 40px, 40px 40px, cover, cover;

  background-position: 0 0, 0 0, center, center;

  background-repeat: repeat, repeat, no-repeat, no-repeat;

  min-height: 100vh;
  overflow-x: hidden;
}
